* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}


/* Header */

.header {
  background-color: #F3D7B7;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 30px 70px;
}

ul {
  display: flex;
  gap: 50px;
  font-size: 13px;
  font-weight: 700;
  color: #333;
  list-style-type: none;
  cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
}

/* Section 1 */

.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.section-1__texts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 60px;
  margin-bottom: 180px;
}

.section-1__text-1 {
 font-size: 64px;
 font-weight: 700;
 width: 446px;
}

.section-1__text-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 460px;
}

.header__btn {
  border: none;
  padding: 16px 24px;
  background-color: #0A775F;
  color: #fff;
  border-radius: 50px;
  width: 193px;
  font-size: 14px;
  font-weight: 500;
}

.header_images {
  background-image: url(./assets/header_img.png);
  width: 710px;
  height: 694px;
  position: relative;
  margin-top: 70px;
}

.header__tag {
  position: absolute;
  bottom: 560px;
  right: 600px;
}

/* Section 2 */

.section-2 {
  background-color: #F8F8F2;
}

.section-2__text {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 190px;
}

.section-2__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-top: 10px;
}

.section-2__title {
  font-size: 48px;
  font-weight: 700;
  color: #333;
  padding-bottom: 20px;
}

.section-2__info {
  margin-bottom: 300px;
}

.section-2__review {
  font-size: 22px;
  color: #333;
  line-height: 34px;
  width: 395px;
}

.section-2__kopi {
  width: 451px;
  height: 375px;
}

/* Footer */

footer {
  /* margin-top: 100px; */
  background-color: #F3D7B7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0px;
}

.footer__social__links {
  display: flex;
  gap: 30px;
}

/* ABOUT SECTION 1 */

.about__section-1 {
  display: flex;
  gap: 370px;
  justify-content: center;
  margin-top: 120px;
}

.about__section-1__texts {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__header_images {
  background-image: url(./assets/about_img.png);
  width: 660px;
  height: 390px;
}

.header__tag {
  position: absolute;
  bottom: 420px;
}

.about__section-1__text-1 {
  font-size: 64px;
  font-weight: 700;
}

.about__section-1__text-2 {
  width: 372px;
  line-height: 24px;
}

/* ABOUT SECTION 2 */
.about__section-2 {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  gap: 300px;
}

.about__section-2__text-1 {
   font-size: 48px;
   font-weight: 700;
   padding-bottom: 80px;
}

.about__section-2__text-2 {
  font-size: 18px;
  color: #333;
  line-height: 30px;
  width: 646px;
}

/* ABOUT SECTION 3 */
.about__section-3 {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  background-color: #C99B67;
  height: 510px;
}

.about__section-3__text-1 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  width: 397px;
  line-height: 70px;
  padding-bottom: 3%;
}

.about__section-3__text-2 {
  font-size: 18px;
  color: #fff;
  width: 639px;
  line-height: 30px;
}



.about__section__img {
  background-image: url(./assets/about_img2.png);
  width: 566px;
  height: 552px;
  margin-bottom: 280px;
}